<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>projects page</title>
  </head>
  <body>
    {{> header}}
    <p><br><br>Here is my <a href="https://github.com/Zirda/Node-Course-2-Web-server">portfolio</a></p>

    {{> footer}}
  </body>

</html>
